<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.guihe.Mapper.GhCallSystemMapper" >
  <resultMap id="BaseResultMap" type="com.web.guihe.Entity.GhCallSystem" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="c_group" property="cGroup" jdbcType="VARCHAR" />
    <result column="c_account" property="cAccount" jdbcType="VARCHAR" />
    <result column="c_pass" property="cPass" jdbcType="VARCHAR" />
    <result column="c_webaccount" property="cWebaccount" jdbcType="VARCHAR" />
    <result column="c_webpass" property="cWebpass" jdbcType="VARCHAR" />
    <result column="c_phone1" property="cPhone1" jdbcType="VARCHAR" />
    <result column="c_phone2" property="cPhone2" jdbcType="VARCHAR" />
    <result column="c_phone3" property="cPhone3" jdbcType="VARCHAR" />
    <result column="c_phone4" property="cPhone4" jdbcType="VARCHAR" />
    <result column="c_operator" property="cOperator" jdbcType="INTEGER" />
    <result column="c_num" property="cNum" jdbcType="INTEGER" />
    <result column="c_state" property="cState" jdbcType="INTEGER" />
    <result column="c_b1" property="cB1" jdbcType="VARCHAR" />
    <result column="c_b2" property="cB2" jdbcType="VARCHAR" />
    <result column="c_b3" property="cB3" jdbcType="VARCHAR" />
    <result column="c_b4" property="cB4" jdbcType="INTEGER" />
    <result column="c_b5" property="cB5" jdbcType="INTEGER" />
    <result column="c_b6" property="cB6" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, c_user, c_group, c_account, c_pass, c_webaccount, c_webpass, c_phone1, c_phone2, 
    c_phone3, c_phone4, c_operator, c_num, c_state, c_b1, c_b2, c_b3, c_b4, c_b5, c_b6
  </sql>

  <!-- 查询呼叫中心组别 -->
  <select id="selectGroup" resultType="java.lang.String" >
    select distinct gh_call_system.c_group from gh_call_system group by gh_call_system.c_id
  </select>

  <!-- 模糊查询号码 -->
  <select id="selectPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gh_call_system
    where gh_call_system.c_phone1 like #{cB1,jdbcType=VARCHAR}
    or gh_call_system.c_phone2 like #{cB1,jdbcType=VARCHAR}
    or gh_call_system.c_phone3 like #{cB1,jdbcType=VARCHAR}
    or gh_call_system.c_phone4 like #{cB1,jdbcType=VARCHAR}
    </select>

  <!-- 批量添加数据 -->
  <insert id="batchAddCallSystem" parameterType="java.util.List">
    insert into gh_call_system (c_id, c_user, c_group,
    c_account, c_pass, c_webaccount,
    c_webpass, c_phone1, c_phone2,
    c_phone3, c_phone4, c_operator,
    c_num, c_state, c_b1,c_b2,c_b3,
    c_b4, c_b5, c_b6)
    values
    <foreach collection="list" separator="," item="callSystem">
      (#{callSystem.cId},#{callSystem.cUser},#{callSystem.cGroup},#{callSystem.cAccount},#{callSystem.cPass},#{callSystem.cWebaccount},
      #{callSystem.cWebpass},#{callSystem.cPhone1},#{callSystem.cPhone2},#{callSystem.cPhone3},#{callSystem.cPhone4},
      #{callSystem.cOperator}, #{callSystem.cNum},#{callSystem.cState},#{callSystem.cB1},#{callSystem.cB2},
      #{callSystem.cB3},#{callSystem.cB4},#{callSystem.cB5},#{callSystem.cB6})
    </foreach>
  </insert>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.guihe.Entity.GhCallSystemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gh_call_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gh_call_system
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gh_call_system
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.guihe.Entity.GhCallSystemExample" >
    delete from gh_call_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.guihe.Entity.GhCallSystem" >
    insert into gh_call_system (c_id, c_user, c_group, 
      c_account, c_pass, c_webaccount, 
      c_webpass, c_phone1, c_phone2, 
      c_phone3, c_phone4, c_operator, 
      c_num, c_state, c_b1, 
      c_b2, c_b3, c_b4, c_b5, 
      c_b6)
    values (#{cId,jdbcType=INTEGER}, #{cUser,jdbcType=VARCHAR}, #{cGroup,jdbcType=VARCHAR}, 
      #{cAccount,jdbcType=VARCHAR}, #{cPass,jdbcType=VARCHAR}, #{cWebaccount,jdbcType=VARCHAR}, 
      #{cWebpass,jdbcType=VARCHAR}, #{cPhone1,jdbcType=VARCHAR}, #{cPhone2,jdbcType=VARCHAR}, 
      #{cPhone3,jdbcType=VARCHAR}, #{cPhone4,jdbcType=VARCHAR}, #{cOperator,jdbcType=INTEGER}, 
      #{cNum,jdbcType=INTEGER}, #{cState,jdbcType=INTEGER}, #{cB1,jdbcType=VARCHAR}, 
      #{cB2,jdbcType=VARCHAR}, #{cB3,jdbcType=VARCHAR}, #{cB4,jdbcType=INTEGER}, #{cB5,jdbcType=INTEGER}, 
      #{cB6,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.web.guihe.Entity.GhCallSystem" >
    insert into gh_call_system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="cGroup != null" >
        c_group,
      </if>
      <if test="cAccount != null" >
        c_account,
      </if>
      <if test="cPass != null" >
        c_pass,
      </if>
      <if test="cWebaccount != null" >
        c_webaccount,
      </if>
      <if test="cWebpass != null" >
        c_webpass,
      </if>
      <if test="cPhone1 != null" >
        c_phone1,
      </if>
      <if test="cPhone2 != null" >
        c_phone2,
      </if>
      <if test="cPhone3 != null" >
        c_phone3,
      </if>
      <if test="cPhone4 != null" >
        c_phone4,
      </if>
      <if test="cOperator != null" >
        c_operator,
      </if>
      <if test="cNum != null" >
        c_num,
      </if>
      <if test="cState != null" >
        c_state,
      </if>
      <if test="cB1 != null" >
        c_b1,
      </if>
      <if test="cB2 != null" >
        c_b2,
      </if>
      <if test="cB3 != null" >
        c_b3,
      </if>
      <if test="cB4 != null" >
        c_b4,
      </if>
      <if test="cB5 != null" >
        c_b5,
      </if>
      <if test="cB6 != null" >
        c_b6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cGroup != null" >
        #{cGroup,jdbcType=VARCHAR},
      </if>
      <if test="cAccount != null" >
        #{cAccount,jdbcType=VARCHAR},
      </if>
      <if test="cPass != null" >
        #{cPass,jdbcType=VARCHAR},
      </if>
      <if test="cWebaccount != null" >
        #{cWebaccount,jdbcType=VARCHAR},
      </if>
      <if test="cWebpass != null" >
        #{cWebpass,jdbcType=VARCHAR},
      </if>
      <if test="cPhone1 != null" >
        #{cPhone1,jdbcType=VARCHAR},
      </if>
      <if test="cPhone2 != null" >
        #{cPhone2,jdbcType=VARCHAR},
      </if>
      <if test="cPhone3 != null" >
        #{cPhone3,jdbcType=VARCHAR},
      </if>
      <if test="cPhone4 != null" >
        #{cPhone4,jdbcType=VARCHAR},
      </if>
      <if test="cOperator != null" >
        #{cOperator,jdbcType=INTEGER},
      </if>
      <if test="cNum != null" >
        #{cNum,jdbcType=INTEGER},
      </if>
      <if test="cState != null" >
        #{cState,jdbcType=INTEGER},
      </if>
      <if test="cB1 != null" >
        #{cB1,jdbcType=VARCHAR},
      </if>
      <if test="cB2 != null" >
        #{cB2,jdbcType=VARCHAR},
      </if>
      <if test="cB3 != null" >
        #{cB3,jdbcType=VARCHAR},
      </if>
      <if test="cB4 != null" >
        #{cB4,jdbcType=INTEGER},
      </if>
      <if test="cB5 != null" >
        #{cB5,jdbcType=INTEGER},
      </if>
      <if test="cB6 != null" >
        #{cB6,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.guihe.Entity.GhCallSystemExample" resultType="java.lang.Integer" >
    select count(*) from gh_call_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gh_call_system
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cUser != null" >
        c_user = #{record.cUser,jdbcType=VARCHAR},
      </if>
      <if test="record.cGroup != null" >
        c_group = #{record.cGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.cAccount != null" >
        c_account = #{record.cAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.cPass != null" >
        c_pass = #{record.cPass,jdbcType=VARCHAR},
      </if>
      <if test="record.cWebaccount != null" >
        c_webaccount = #{record.cWebaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.cWebpass != null" >
        c_webpass = #{record.cWebpass,jdbcType=VARCHAR},
      </if>
      <if test="record.cPhone1 != null" >
        c_phone1 = #{record.cPhone1,jdbcType=VARCHAR},
      </if>
      <if test="record.cPhone2 != null" >
        c_phone2 = #{record.cPhone2,jdbcType=VARCHAR},
      </if>
      <if test="record.cPhone3 != null" >
        c_phone3 = #{record.cPhone3,jdbcType=VARCHAR},
      </if>
      <if test="record.cPhone4 != null" >
        c_phone4 = #{record.cPhone4,jdbcType=VARCHAR},
      </if>
      <if test="record.cOperator != null" >
        c_operator = #{record.cOperator,jdbcType=INTEGER},
      </if>
      <if test="record.cNum != null" >
        c_num = #{record.cNum,jdbcType=INTEGER},
      </if>
      <if test="record.cState != null" >
        c_state = #{record.cState,jdbcType=INTEGER},
      </if>
      <if test="record.cB1 != null" >
        c_b1 = #{record.cB1,jdbcType=VARCHAR},
      </if>
      <if test="record.cB2 != null" >
        c_b2 = #{record.cB2,jdbcType=VARCHAR},
      </if>
      <if test="record.cB3 != null" >
        c_b3 = #{record.cB3,jdbcType=VARCHAR},
      </if>
      <if test="record.cB4 != null" >
        c_b4 = #{record.cB4,jdbcType=INTEGER},
      </if>
      <if test="record.cB5 != null" >
        c_b5 = #{record.cB5,jdbcType=INTEGER},
      </if>
      <if test="record.cB6 != null" >
        c_b6 = #{record.cB6,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gh_call_system
    set c_id = #{record.cId,jdbcType=INTEGER},
      c_user = #{record.cUser,jdbcType=VARCHAR},
      c_group = #{record.cGroup,jdbcType=VARCHAR},
      c_account = #{record.cAccount,jdbcType=VARCHAR},
      c_pass = #{record.cPass,jdbcType=VARCHAR},
      c_webaccount = #{record.cWebaccount,jdbcType=VARCHAR},
      c_webpass = #{record.cWebpass,jdbcType=VARCHAR},
      c_phone1 = #{record.cPhone1,jdbcType=VARCHAR},
      c_phone2 = #{record.cPhone2,jdbcType=VARCHAR},
      c_phone3 = #{record.cPhone3,jdbcType=VARCHAR},
      c_phone4 = #{record.cPhone4,jdbcType=VARCHAR},
      c_operator = #{record.cOperator,jdbcType=INTEGER},
      c_num = #{record.cNum,jdbcType=INTEGER},
      c_state = #{record.cState,jdbcType=INTEGER},
      c_b1 = #{record.cB1,jdbcType=VARCHAR},
      c_b2 = #{record.cB2,jdbcType=VARCHAR},
      c_b3 = #{record.cB3,jdbcType=VARCHAR},
      c_b4 = #{record.cB4,jdbcType=INTEGER},
      c_b5 = #{record.cB5,jdbcType=INTEGER},
      c_b6 = #{record.cB6,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.guihe.Entity.GhCallSystem" >
    update gh_call_system
    <set >
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cGroup != null" >
        c_group = #{cGroup,jdbcType=VARCHAR},
      </if>
      <if test="cAccount != null" >
        c_account = #{cAccount,jdbcType=VARCHAR},
      </if>
      <if test="cPass != null" >
        c_pass = #{cPass,jdbcType=VARCHAR},
      </if>
      <if test="cWebaccount != null" >
        c_webaccount = #{cWebaccount,jdbcType=VARCHAR},
      </if>
      <if test="cWebpass != null" >
        c_webpass = #{cWebpass,jdbcType=VARCHAR},
      </if>
      <if test="cPhone1 != null" >
        c_phone1 = #{cPhone1,jdbcType=VARCHAR},
      </if>
      <if test="cPhone2 != null" >
        c_phone2 = #{cPhone2,jdbcType=VARCHAR},
      </if>
      <if test="cPhone3 != null" >
        c_phone3 = #{cPhone3,jdbcType=VARCHAR},
      </if>
      <if test="cPhone4 != null" >
        c_phone4 = #{cPhone4,jdbcType=VARCHAR},
      </if>
      <if test="cOperator != null" >
        c_operator = #{cOperator,jdbcType=INTEGER},
      </if>
      <if test="cNum != null" >
        c_num = #{cNum,jdbcType=INTEGER},
      </if>
      <if test="cState != null" >
        c_state = #{cState,jdbcType=INTEGER},
      </if>
      <if test="cB1 != null" >
        c_b1 = #{cB1,jdbcType=VARCHAR},
      </if>
      <if test="cB2 != null" >
        c_b2 = #{cB2,jdbcType=VARCHAR},
      </if>
      <if test="cB3 != null" >
        c_b3 = #{cB3,jdbcType=VARCHAR},
      </if>
      <if test="cB4 != null" >
        c_b4 = #{cB4,jdbcType=INTEGER},
      </if>
      <if test="cB5 != null" >
        c_b5 = #{cB5,jdbcType=INTEGER},
      </if>
      <if test="cB6 != null" >
        c_b6 = #{cB6,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.guihe.Entity.GhCallSystem" >
    update gh_call_system
    set c_user = #{cUser,jdbcType=VARCHAR},
      c_group = #{cGroup,jdbcType=VARCHAR},
      c_account = #{cAccount,jdbcType=VARCHAR},
      c_pass = #{cPass,jdbcType=VARCHAR},
      c_webaccount = #{cWebaccount,jdbcType=VARCHAR},
      c_webpass = #{cWebpass,jdbcType=VARCHAR},
      c_phone1 = #{cPhone1,jdbcType=VARCHAR},
      c_phone2 = #{cPhone2,jdbcType=VARCHAR},
      c_phone3 = #{cPhone3,jdbcType=VARCHAR},
      c_phone4 = #{cPhone4,jdbcType=VARCHAR},
      c_operator = #{cOperator,jdbcType=INTEGER},
      c_num = #{cNum,jdbcType=INTEGER},
      c_state = #{cState,jdbcType=INTEGER},
      c_b1 = #{cB1,jdbcType=VARCHAR},
      c_b2 = #{cB2,jdbcType=VARCHAR},
      c_b3 = #{cB3,jdbcType=VARCHAR},
      c_b4 = #{cB4,jdbcType=INTEGER},
      c_b5 = #{cB5,jdbcType=INTEGER},
      c_b6 = #{cB6,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>