<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.guihe.Mapper.GhRolePermissionsMapper" >
  <resultMap id="BaseResultMap" type="com.web.guihe.Entity.GhRolePermissions" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_r_id" property="aRId" jdbcType="INTEGER" />
    <result column="a_p_id" property="aPId" jdbcType="INTEGER" />
    <result column="a_b1" property="aB1" jdbcType="VARCHAR" />
    <result column="a_b2" property="aB2" jdbcType="VARCHAR" />
    <result column="a_b3" property="aB3" jdbcType="VARCHAR" />
    <result column="a_b4" property="aB4" jdbcType="INTEGER" />
    <result column="a_b5" property="aB5" jdbcType="INTEGER" />
    <result column="a_b6" property="aB6" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    a_id, a_r_id, a_p_id, a_b1, a_b2, a_b3, a_b4, a_b5, a_b6
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.guihe.Entity.GhRolePermissionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gh_role_permissions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gh_role_permissions
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gh_role_permissions
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.guihe.Entity.GhRolePermissionsExample" >
    delete from gh_role_permissions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.guihe.Entity.GhRolePermissions" >
    insert into gh_role_permissions (a_id, a_r_id, a_p_id, 
      a_b1, a_b2, a_b3, a_b4, 
      a_b5, a_b6)
    values (#{aId,jdbcType=INTEGER}, #{aRId,jdbcType=INTEGER}, #{aPId,jdbcType=INTEGER}, 
      #{aB1,jdbcType=VARCHAR}, #{aB2,jdbcType=VARCHAR}, #{aB3,jdbcType=VARCHAR}, #{aB4,jdbcType=INTEGER}, 
      #{aB5,jdbcType=INTEGER}, #{aB6,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.web.guihe.Entity.GhRolePermissions" >
    insert into gh_role_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aRId != null" >
        a_r_id,
      </if>
      <if test="aPId != null" >
        a_p_id,
      </if>
      <if test="aB1 != null" >
        a_b1,
      </if>
      <if test="aB2 != null" >
        a_b2,
      </if>
      <if test="aB3 != null" >
        a_b3,
      </if>
      <if test="aB4 != null" >
        a_b4,
      </if>
      <if test="aB5 != null" >
        a_b5,
      </if>
      <if test="aB6 != null" >
        a_b6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aRId != null" >
        #{aRId,jdbcType=INTEGER},
      </if>
      <if test="aPId != null" >
        #{aPId,jdbcType=INTEGER},
      </if>
      <if test="aB1 != null" >
        #{aB1,jdbcType=VARCHAR},
      </if>
      <if test="aB2 != null" >
        #{aB2,jdbcType=VARCHAR},
      </if>
      <if test="aB3 != null" >
        #{aB3,jdbcType=VARCHAR},
      </if>
      <if test="aB4 != null" >
        #{aB4,jdbcType=INTEGER},
      </if>
      <if test="aB5 != null" >
        #{aB5,jdbcType=INTEGER},
      </if>
      <if test="aB6 != null" >
        #{aB6,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.guihe.Entity.GhRolePermissionsExample" resultType="java.lang.Integer" >
    select count(*) from gh_role_permissions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gh_role_permissions
    <set >
      <if test="record.aId != null" >
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aRId != null" >
        a_r_id = #{record.aRId,jdbcType=INTEGER},
      </if>
      <if test="record.aPId != null" >
        a_p_id = #{record.aPId,jdbcType=INTEGER},
      </if>
      <if test="record.aB1 != null" >
        a_b1 = #{record.aB1,jdbcType=VARCHAR},
      </if>
      <if test="record.aB2 != null" >
        a_b2 = #{record.aB2,jdbcType=VARCHAR},
      </if>
      <if test="record.aB3 != null" >
        a_b3 = #{record.aB3,jdbcType=VARCHAR},
      </if>
      <if test="record.aB4 != null" >
        a_b4 = #{record.aB4,jdbcType=INTEGER},
      </if>
      <if test="record.aB5 != null" >
        a_b5 = #{record.aB5,jdbcType=INTEGER},
      </if>
      <if test="record.aB6 != null" >
        a_b6 = #{record.aB6,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gh_role_permissions
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_r_id = #{record.aRId,jdbcType=INTEGER},
      a_p_id = #{record.aPId,jdbcType=INTEGER},
      a_b1 = #{record.aB1,jdbcType=VARCHAR},
      a_b2 = #{record.aB2,jdbcType=VARCHAR},
      a_b3 = #{record.aB3,jdbcType=VARCHAR},
      a_b4 = #{record.aB4,jdbcType=INTEGER},
      a_b5 = #{record.aB5,jdbcType=INTEGER},
      a_b6 = #{record.aB6,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.guihe.Entity.GhRolePermissions" >
    update gh_role_permissions
    <set >
      <if test="aRId != null" >
        a_r_id = #{aRId,jdbcType=INTEGER},
      </if>
      <if test="aPId != null" >
        a_p_id = #{aPId,jdbcType=INTEGER},
      </if>
      <if test="aB1 != null" >
        a_b1 = #{aB1,jdbcType=VARCHAR},
      </if>
      <if test="aB2 != null" >
        a_b2 = #{aB2,jdbcType=VARCHAR},
      </if>
      <if test="aB3 != null" >
        a_b3 = #{aB3,jdbcType=VARCHAR},
      </if>
      <if test="aB4 != null" >
        a_b4 = #{aB4,jdbcType=INTEGER},
      </if>
      <if test="aB5 != null" >
        a_b5 = #{aB5,jdbcType=INTEGER},
      </if>
      <if test="aB6 != null" >
        a_b6 = #{aB6,jdbcType=INTEGER},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.guihe.Entity.GhRolePermissions" >
    update gh_role_permissions
    set a_r_id = #{aRId,jdbcType=INTEGER},
      a_p_id = #{aPId,jdbcType=INTEGER},
      a_b1 = #{aB1,jdbcType=VARCHAR},
      a_b2 = #{aB2,jdbcType=VARCHAR},
      a_b3 = #{aB3,jdbcType=VARCHAR},
      a_b4 = #{aB4,jdbcType=INTEGER},
      a_b5 = #{aB5,jdbcType=INTEGER},
      a_b6 = #{aB6,jdbcType=INTEGER}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>